
.DS_Store

laboratorio_4/.vscode/settings.json

Practicas/Practica 2/Alejandro/.vscode/

Practicas/Practica 2/Alejandro/build/

Practicas/Practica 3/Alejandro/build/

Practicas/Practica 3/Alejandro/.vscode/

Practicas/Practica 4/Alejandro/.vscode/

Practicas/Practica 4/Alejandro/build/
